<div class="container" id="registration-form" ng-controller="SignupPageController">
    <a href="index.html" class="login-logo">
        <h1><b>{{ title }}</b></h1>
    </a>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Форма регистрации</h2>
                </div>
                <div class="panel-body">
                    <form action="" name="userForm" class="form-horizontal">
                        <div class="form-group mb-md">
                            <label for="email" class="col-xs-4 control-label">Email</label>
                            <div class="col-xs-8">
                                <input type="email" auto-focus next-focus tabindex=1 class="form-control" ng-model="email" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group mb-md">
                            <label for="password" class="col-xs-4 control-label">Пароль</label>
                            <div class="col-xs-8">
                                <input type="password" next-focus tabindex=2 class="form-control" ng-model="password" lock-ng-pattern="/^[a-zA-Z0-9;!@#$%^&*()_+=<>?\|/{}.,'`~-]{8,}$/" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group mb-md">
                            <label for="confirmPassword" class="col-xs-4 control-label">Пароль ещё раз</label>
                            <div class="col-xs-8">
                                <input type="password" next-focus tabindex=3 class="form-control" ng-model="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <!--
                        <div class="form-group mb-n">
                            <div class="col-xs-12">
                                <div class="checkbox icheck">
                                    <label for=""><input icheck type="checkbox" /> I accept the <a href="#">user agreement</a></label>
                                </div>
                            </div>
                        </div>
                        -->
                    </form>

                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <a href="#!/extras-login.html" class="btn btn-default pull-left">Уже зарегистрированы? Войти</a>
                        <a href="" next-focus tabindex=4 ng-disabled="userForm.$invalid" ng-click="userRegister(email, password, confirmPassword)" class="btn btn-primary pull-right">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
