<div class="container" id="forgotpassword-form" ng-controller="SignupPageController">
    <a href="index.html" class="login-logo">
        <h1><b>SHM Client</b></h1>
    </a>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Восстановление пароля</h2>
                </div>
                <div class="panel-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group mb-n">
                            <div class="col-xs-12">
                                <p>Укажите ваш Email адрес (или логин):</p>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" auto-focus next-focus tabindex=1 ng-model="email" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="clearfix">
                        <a href="#!/extras-login.html" class="btn btn-default pull-left">Назад</a>
                        <a href="" ng-click="passwordReset( email )" next-focus tabindex=2 class="btn btn-primary pull-right">Восстановить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
