<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Dashboard</li>
</ol>

<div class="page-heading">
    <h1>Dashboard</h1>
    <div class="btn-group pull-right">
        <a href="#" class="btn btn-default">Settings</a>
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="test()">Test</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
</div>

<div>
TODO: Make main page for SHM Client
</div>
