<form name="userForm" class="form-horizontal row-border">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Пользователь</label>
            <div class="col-sm-8">
                <users-list id="data.user_id"></users-list>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Тип платежа</label>
            <div class="col-sm-8">
                <pay-systems-list id="data.pay_system_id"></pay-systems-list>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Сумма</label>
            <div class="col-sm-8">
                <input type="number" step="0.01" ng-model="data.money"></input>
            </div>
        </div>

    </div> <!-- modal-body -->

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="save()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
