<form name="userForm" class="form-horizontal row-border">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-sm-12">
                <pay-systems-list data="data"></pay-systems-list>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                Сумма:
            </div>
            <div class="col-sm-10">
                <input
                        type="number"
                        step="0.01"
                        min="1"
                        class="form-control"
                        placeholder="введите сумму к оплате"
                        inputmode="numeric" \
                        pattern="\d*"
                        required
                        ng-model="data.amount"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <button class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="pay()">Оплатить</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </div>
    </div> <!-- modal-body -->

</form>
