<form name="userForm" class="form-horizontal row-border">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-sm-12">
                <pay-systems-list data="data"></pay-systems-list>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <button class="btn btn-success" ng-click="pay()">Оплатить</button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
            </div>
        </div>
    </div> <!-- modal-body -->

</form>
