	<ol class="breadcrumb">
		<li><a href="#/">Главная</a></li>
	</ol>

<div class="container-fluid" ng-controller="ShmUserController">
	<div class="row-fluid">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Профиль
                </div>
                <form name="userForm" class="form-horizontal row-border">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Договор</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" readonly="readonly" ng-model="data.user_id">
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-link" ng-click="partnerUrlToClipboard()">Скопировать партнерскую ссылку</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Логин</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" readonly="readonly" ng-model="data.login">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label">Telegram логин</label>
                            <div class="col-sm-3">
                                <input type="text" ng-model="data.settings.telegram.login" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" ng-show="data.full_name">
                            <label class="col-sm-2 control-label">Клиент</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="data.full_name" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Дата регистрации</label>
                            <div class="col-sm-3">
                                <input type="text" ng-model="data.created" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-sm-1"></div>
                            <label class="col-sm-2 control-label">Последний заход</label>
                            <div class="col-sm-3">
                                <input type="text" ng-model="data.last_login" class="form-control" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Баланс</label>
                            <div class="col-sm-3">
                                <input type="number" ng-model="data.balance" class="form-control" readonly="readonly">
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary" ng-click="pay()">Платеж</button>
                            </div>
                            <label class="col-sm-2 control-label">Кредит</label>
                            <div class="col-sm-3">
                                <input type="number" ng-model="data.credit" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div> <!-- modal-body -->

                    <div class="modal-footer">
                        <button class="btn btn-warning pull-left" ng-disabled="userForm.$invalid" ng-click="passwd()">Сменить пароль</button>
                        <button class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="save()">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


</div> <!-- container-fluid -->
