    <ol class="breadcrumb">
        <li><a href="#/">Главная</a></li>
        <li>Пользователи</li>
        <li class="active">Списания</li>
    </ol>

<div class="container-fluid" ng-controller="ShmWithdrawsController">
    <div class="row">
      <div class="col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <h2>Списание средств</h2>
                </div>
                <div class="panel-body">
                    <div class="panel">
                        <div class="panel-body no-padding">
                            <div shm-table></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> <!-- container-fluid -->
